@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-main {
  overflow: hidden;
  width: 100vw;
  height: fit-content;
  font-size: 1vw;
  padding: 2.5vw;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-inner {
  background: url("/rec.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.2s ease-out;
  filter: brightness(100%);
  margin: 1vw 0;
}

.card {
  width: 100%;
  height: 20vw;
  border-radius: 3vw;
  padding: 1vw;
  color: #2a2a2a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.hero-inner p {
  text-shadow: 0px 0px 20px #fff;
}

.hero-inner:hover {
  border-radius: 2.5vw;
  font-size: 2.1vw;
  filter: brightness(98%);
}

@media only screen and (max-width: 500px) {
  .hero-main {
    font-size: 20px;
  }
  .hero-inner {
    border-radius: 30px;
    font-size: 20px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .hero-inner:hover {
    font-size: 25px;
  }
}
